* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Inter', sans-serif;
}

/* HEADER */
header {
  color: #ffffff;
  padding-left: 2.625em;
  padding-right: 2.625em;
  position: relative;
  background-image: url(images/movie-theater.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  margin-bottom: 4em;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 208px;
  width: 100%;
}

.header h1 {
  color: #ffffff;
  font-size: 2.6875rem;
}

.header a {
  text-decoration: none;
  color: #ffffff;
  font-size: 0.875rem;
}

a:hover {
  color: #dee2e6;
}

/* a:active {
  color: #dbe4ff;
} */

/* .header {
  margin-left: 2.625em;
  margin-right: 2.625em;
} */

/* SEARCH FORM */

.search-form {
  width: 100%;
  display: flex;
  justify-content: center;
  position: absolute;
  top: 190px;
  left: 0;
}

.search {
  display: flex;
  align-items: center;
  padding: 0.4em 0.75em;
  border: 1px solid #dfdddd;
  border-bottom-left-radius: 6px;
  border-top-left-radius: 6px;
  background-color: #ffffff;
  width: 100%;
  margin-left: 2.625em;
}

.search-input,
.search-input:active {
  width: max-content;
  margin-left: 0.5em;
  outline: none;
  background: transparent;
  border: none;
  font-weight: 500;
  color: #868e96;
}

.search-input::placeholder,
.search-icon {
  color: #868e96;
}

.search-btn {
  color: #495057;
  font-weight: 600;
  padding-left: 3em;
  padding-right: 3em;
  border: 1px solid #dfdddd;
  background-color: #f1f3f5;
  border-bottom-right-radius: 6px;
  border-top-right-radius: 6px;
  cursor: pointer;
  margin-right: 3.625em;
}

.search-btn:hover {
  background-color: #e9ecef;
}

.search-btn:active {
  background-color: #dee2e6;
}

.search-input,
.search-btn {
  font-size: 0.75rem;
}

/* MAIN */

/* DEFAULT/INVALID */
.default {
  margin: 13.25em auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.default-icon {
  font-size: 70px !important;
  color: #dfdddd;
}

.default h3 {
  font-size: 1rem;
}

.default-icon,
.default h3,
.invalid-title,
.default-watchlist p {
  color: #dfdddd;
}

.invalid-title {
  max-width: 321px;
  text-align: center;
  font-size: 1.125rem;
  font-weight: bold;
}

.default-watchlist p {
  text-align: center;
  font-size: 1.125rem;
  font-weight: bold;
  margin-bottom: 0.875em;
}

.default-watchlist a {
  font-size: 0.875rem;
  font-weight: bold;
  color: #363636;
}

/* MOVIE RESULT */

#movie-result,
#movie-watchlist {
  display: flex;
  flex-direction: column;
}

.movie-card {
  display: flex;
  gap: 1.3125em;
  margin: 0 2.75em;
  padding: 1.25em 0;
  border-bottom: 1px solid #e5e7eb;
}

.movie-poster {
  width: 99px;
  height: 148px;
}

.movie-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.625em;
}

.title-rating {
  display: flex;
  justify-content: space-between;
  gap: 0.5em;
}

.title-rating h2 {
  color: #000000;
  font-size: 1.125rem;
}

.rating,
.movie-meta {
  color: #111827;
  font-size: 0.75rem;
}

.movie-meta {
  max-width: 342px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.watchlist-btn {
  color: #ffffff;
  border: none;
  background-color: #111827;
  cursor: pointer;
  padding: 0.375em 0.5em;
  border-radius: 5px;
}

.add-btn {
  width: 20px;
  height: 20px;
  color: #000000;
}

.movie-description {
  color: #6b7280;
  font-size: 0.875rem;
  line-height: 1.5;
}

/* UTILITIES */

.hidden {
  display: none;
}
